.navbar {
    background-color: #333;
    padding: 1rem;
    opacity: 0.8;
    border-radius: 10px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: goldenrod;
    text-decoration: none;
}
.nav-link:hover {
    text-shadow: 0 0 10px rgba(207, 191, 178, 0.8);
}